@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=M+PLUS+U:wght@100..900&family=Pacifico&family=Patrick+Hand+SC&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-general: "M PLUS U", sans-serif;
    --font-heading: "Pacifico", cursive;
    --font-dotted: "Doto", sans-serif;
    --font-patrick: "Patrick Hand SC", cursive;
}

:root {
    color: #0a0a0a;
    background: #f3f3f3;
    font-family: "M PLUS U", sans-serif;
}

body {
    margin: 0;
    /* min-height: 100vh; */
    background: #f3f3f3;
}

.grid-background {
    background-image:
        repeating-linear-gradient(to right,
            #e0e0e0,
            #e0e0e0 1px,
            transparent 1px,
            transparent 30px);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    aspect-ratio: 1;
    border: 2px solid;
    box-sizing: border-box;
    color: #000;
    background:
        radial-gradient(circle 3px, currentColor 95%, #0000),
        linear-gradient(currentColor 50%, #0000 0) 50%/3px 80% no-repeat,
        linear-gradient(90deg, currentColor 50%, #0000 0) 50%/60% 3px no-repeat;
    position: relative;
}

.loader:before {
    content: "";
    position: absolute;
    height: 50px;
    inset: 100% 10% auto;
    background:
        radial-gradient(circle closest-side at 50% calc(100% - 10px), currentColor 94%, #0000),
        linear-gradient(currentColor 0 0) top/3px 80% no-repeat;
    transform-origin: top;
    animation: l2 2s infinite cubic-bezier(0.5, 200, 0.5, -200);
}

.stack-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.stack-heading::before,
.stack-heading::after {
    content: "";
    width: 28px;
    height: 3px;
    background: #7c5ce0;
    border-radius: 10px;
    transform: rotate(-25deg);
}

.stack-heading::after {
    transform: rotate(25deg);
}

@keyframes l2 {
    100% {
        transform: rotate(0.4deg)
    }
}



@media (max-width: 1024px) {
    .folder-item {
        width: 82px;
    }

    .folder-label {
        font-size: 0.74rem;
    }
}